.main {
  width: 100%;
  background-color: azure;
  border: 1px dashed cadetblue;
  font-family: Calibri, sans-serif;
}

.variants {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.variants__item {
  width: 30px;
  height: 30px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.variants__item.error:before, .variants__item.error:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: rgb(201 0 0);
}

.variants__item.error:before {
  transform: rotate(45deg);
}

.variants__item.error:after {
  transform: rotate(-45deg);
}


.word {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}



.letter {
  width: 30px;
  height: 30px;
  border: 2px dashed #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  padding: 20px 0;
}

.info > * {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
  border-bottom: 1px solid lightslategrey;
  padding: 5px 0;
}

.heading {
  padding: 20px 0;
  text-align: center;
}

.message {
  text-align: center;
}
